/* ======= About Section ======= */
.about-section {
  padding-top: 90px;
}
.about-section .section-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 300;
}
.about-section .intro {
  color: #a2a6af;
  font-size: 16px;
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.about-section .items-wrapper {
  margin-bottom: 60px;
}
.about-section .items-wrapper .figure-holder {
  min-height: 170px;
  margin-bottom: 15px;
  vertical-align: bottom;
}
.about-section .items-wrapper .item-inner {
  padding: 30px;
}
.about-section .items-wrapper .item-title {
  color: #40babd;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
}
.about-section .items-wrapper .item-desc {
  color: #616670;
}
.technologies {
  margin-bottom: 90px;
}
.technologies li {
  margin-right: 10px;
}
.technologies li:last-child {
  margin-right: 0;
}